WSDL/ModtagFinansbilagStraksleveranceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
		name="ModtagFinansbilagStraksleveranceService"
		targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagFinansStraksleverance/1/"
		xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagFinansStraksleverance/1/"
		xmlns:oir="urn:oio:kl:kdi:oir:1590_A_V2"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:wsa="http://www.w3.org/2005/08/addressing"
		xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
	<wsdl:types>
		<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagFinansStraksleverance/1/">
			<xsd:include schemaLocation="ModtagFinansbilagStraksleveranceServiceMsg.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/">
			<xsd:include schemaLocation="ServiceplatformFault_1.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="urn:oio:kl:kdi:oir:1590_A_V2">
			<xsd:include schemaLocation="view/FinansStraksleveranceTransportkvittering.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="FinansbilagRequestMessage">
		<wsdl:part name="parameters" element="tns:FinansbilagRequestType"/>
	</wsdl:message>
	<wsdl:message name="FinansbilagResponseMessage">
		<wsdl:part name="parameters" element="tns:FinansbilagResponseType"/>
	</wsdl:message>
	<wsdl:message name="StraksleveranceTransportkvittering">
		<wsdl:part name="parameters" element="oir:StraksleveranceTransportkvittering"/>
	</wsdl:message>
	<wsdl:message name="ServiceplatformFault">
		<wsdl:part name="spfault" element="spf:ServiceplatformFault"/>
	</wsdl:message>

	<wsdl:portType name="ModtagFinansbilagStraksleveranceServicePort">
		<wsdl:operation name="Straksleverance">
			<wsdl:input message="tns:FinansbilagRequestMessage"/>
			<wsdl:output message="tns:FinansbilagResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ModtagFinansbilagStraksleveranceServiceBinding" type="tns:ModtagFinansbilagStraksleveranceServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Straksleverance">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsp:Policy wsu:Id="STS_SAML_Token_policy">
		<sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy wsp:Optional="false">
				<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<!-- Nedenstaaende Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
					<sp:Issuer>
						<wsa:Address>https://url-til-sts</wsa:Address>
					</sp:Issuer>
					<sp:RequestSecurityTokenTemplate>
						<trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
					</sp:RequestSecurityTokenTemplate>
				</sp:IssuedToken>
				<sp:IncludeTimestamp/>
				<sp:ProtectTokens />
				<sp:OnlySignEntireHeadersAndBody/>
			</wsp:Policy>
		</sp:SignedSupportingTokens>
	</wsp:Policy>

	<wsp:Policy wsu:Id="STS_SAML_Token_policy_optional">
		<sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy wsp:Optional="true">
				<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<!-- Nedenstaaende Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
					<sp:Issuer>
						<wsa:Address>https://url-til-sts</wsa:Address>
					</sp:Issuer>
					<sp:RequestSecurityTokenTemplate>
						<trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
					</sp:RequestSecurityTokenTemplate>
				</sp:IssuedToken>
				<sp:IncludeTimestamp/>
				<sp:ProtectTokens />
				<sp:OnlySignEntireHeadersAndBody/>
			</wsp:Policy>
		</sp:SignedSupportingTokens>
	</wsp:Policy>

	<!-- Input policy for signing input -->
	<wsp:Policy wsu:Id="Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body/>
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

	<!-- TLS policy for communicating with SP -->
	<wsp:Policy wsu:Id="TLS_policy">
		<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken RequireClientCertificate="true"/>
					</wsp:Policy>
				</sp:TransportToken>
			</wsp:Policy>
		</sp:TransportBinding>
	</wsp:Policy>

	<wsdl:service name="ModtagFinansbilagStraksleveranceService">
		<wsdl:port name="ModtagFinansbilagStraksleveranceServicePort" binding="tns:ModtagFinansbilagStraksleveranceServiceBinding">
			<soap:address location="http://localhost:8080/service/OIR/ModtagFinansbilagStraksleverance/1"/>
			<wsp:PolicyReference URI="#STS_SAML_Token_policy"/>
			<wsp:PolicyReference URI="#TLS_policy"/>
		</wsdl:port>
	</wsdl:service>

	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Version 1.0 of the API for the ModtagFinansbilagService
    	</xsd:documentation>
	</xsd:annotation>
</wsdl:definitions>
